[submodule "projects/BSDBootImageBuilder"]
	path = projects/BSDBootImageBuilder
	url = https://github.com/moon-touched/BSDBootImageBuilder.git
[submodule "projects/BSDKickstart"]
	path = projects/BSDKickstart
	url = https://github.com/moon-touched/BSDKickstart.git
[submodule "projects/DSO100Hardware"]
	path = projects/DSO100Hardware
	url = https://github.com/moon-touched/DSO100Hardware.git
[submodule "projects/device-tree-xlnx"]
	path = projects/device-tree-xlnx
	url = https://github.com/xilinx/device-tree-xlnx.git
[submodule "projects/FreeBSDKernelOverlay"]
	path = projects/FreeBSDKernelOverlay
	url = https://github.com/moon-touched/FreeBSDKernelOverlay.git
[submodule "projects/DSOSystem"]
	path = projects/DSOSystem
	url = https://github.com/moon-touched/DSOSystem.git
[submodule "projects/DSO100Drivers"]
	path = projects/DSO100Drivers
	url = https://github.com/moon-touched/DSO100Drivers.git
